.b-GameControl{
	position: relative;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

.map{
	position: relative;
	width:400px;
	height: 400px;
	background: #964;
}

.cell{
	position: absolute;
	background: #645;
	/*border: 1px solid #fff;*/
	font-size: 10px;
	color:#fff;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
}

.weight1{
	background:green;
}
.weight2{
	background:blue;
}
.weight3{
	background:orange;
}
.weight4{
	background:red;
}

.cell.invalid{
	cursor: default;
}

.cell.invalid:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #000;
	opacity:.85;
}

.cell:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background: #fff;
	top: 15px;
	left: 50%;
	margin-left: -7px;
	opacity: 0.4;
	border-radius: 8px;
}

.counter{
	font-size: 14px;
	padding: 5px 0;
}
.counter-value{
	display: inline-block;
	font-weight: bold;
}

.win-dialog-container{
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
}

.overlay{
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	background: #000;
	opacity: .5;
}

.win-dialog{
	position: absolute;
	top: 166px;
	left: 245px;
	width: 361px;
	background: #eee;
	border: 1px solid gray;
	text-align: center;
	padding: 20px;
}

.msg{
	padding: 0px 0 20px 0;
}

.statistics{
	list-style: none;
	margin: 0;
	padding: 0;
}

.statistics > li{
	padding: 0;
	margin: 0;
	border-top:1px solid gray;
	overflow: hidden;
}

.game-number{
	width:50px;
	float: left;
}

.game-result{
	width:150px;
	float: left;
	font-weight: bold;
}

.success{
	color:green;
	font-weight: bold;
}
.fail{
	color:red;
	font-weight: bold;
}